.App {
  text-align: center;
  background-color: navajowhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  zoom: 2;
  background-color: grey;
  border: red;
  border-radius: 50px;
  height: 100px;
}

.App-header {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

textarea {
  width: 30em;
  height: 2em;
  border: 1px solid #cccccc;
  padding: 0.2em;
  font-family: Tahoma, sans-serif;
}

.ToDoText {
  color: black;
  -moz-box-shadow: inset 0 0 15px 5px #DDD;
  -webkit-box-shadow: inset 0 0 15px 5px #DDDDE5;
  box-shadow: inset 0 0 15px 5px #DDD;

  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.speichern {
  background-color: greenyellow;
  border: red;
  border-radius: 25px;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.editButton {
  background-color: lightskyblue;
  border: red;
  border-radius: 25px;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.deleteButton {
  background-color: red;
  border: red;
  border-radius: 25px;
  color: white;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.active {
  text-decoration: line-through;
  color: forestgreen;
}

ins {
  zoom: 1.5;
  border: 1px solid white;
  border-radius: 7px;
}

h1 {
  border: 2px solid black;
  color: white;
  background-color: black;
}

h2 {
  color: red;
  border: black;
}

.span {
  color: darkred;
  border-radius: 1px;
}

li {
  zoom: 1.3;
  position: center;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
}

